configure
*status
Makefile
Makefile.in
*.log
*.o
*.tar.gz
aclocal.m4
autom4te.cache
.deps
base92
src/base92
src/libbase92.a

tests/test_empty
tests/hello_world
tests/binary_string
tests/lengths
tests/chr_encode
tests/chr_decode
tests/onechar_test
tests/simple_test
